<div class="header">
	<div class="header-bar" id="header-bar">
		<button type="button" class="navigator-toggle bigButton ng-scope" title="Toggle navigator">
      <i class="fa fa-caret-square-right"></i>
    </button>
		<div class="appName">

			<div class="spinner" [hidden]="!isLoading">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<span class="page-header">
        <div class="title" [hidden]="isLoading">
          <h1 class="text-truncate ng-binding">
            Home
          </h1>
        </div>
			</span>
		</div>
		<div class="app-switcher-dropdown bigButton dropdown" style="">
			<button type="button" class="dropdown-toggle c8y-dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-2x fa fw fa-th"></i>
      </button>
			<div class="dropdown-menu app-switcher-dropdown-menu">

			</div>
		</div>
	</div>
</div>